body {
	font-size: 16px;
	font-style: 'Oxygen', sans-serif;
}


/*HOME PAGE*/

#header-nav{
	background-color: #999;
	vertical-align: middle;
	height: 80px;
}

#nav-list {
	margin-top: 0px;
	border: 1px solid #000;
	z-index: 10;
}
#nav-list a{
	color: #000;
	text-align: center;
	background-color: #fff;
	border: 1px solid #000;
}

#main-content h2,h1{
	text-align: center;
	font-weight: bold;
}

#main-content h1 {
	margin-bottom: 30px;
}

#chicken, #beef, #sushi {
	background-color: #999;
	padding: 5px;
	width: 100%;
	color: #000;
	margin: 0 auto 15px;
  	overflow: hidden;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Lora', serif;
	color: #000;
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	line-height: .75;
	height: 90px;
}



/***************** Large devices only ******************/
@media (min-width: 1200px) {
	/*HOME PAGE*/

	/*End Home Page*/
}

/***************** Medium devices only ******************/
@media (min-width: 992px) and (max-width: 1199px) {
	/*Header*/

	/*End Header*/

	/*HOME PAGE*/

	/*End Home Page*/
}

/***************** Small devices only ******************/
@media (min-width: 768px) and (max-width: 991px) {
	/*HOME PAGE*/

	/*End Home Page*/
}

/***************** Extra small devices only ******************/
@media (max-width: 767px) {
	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}
	.navbar-brand h1 { 
		padding-top: 10px;
		font-size: 5vw;  /*1vw = 1% of viewport width*/
	}
	#collapsable-nav {
		background-color: #000;
		vertical-align: middle;
		padding: 0px 0px;
	}
	#collapsable-nav a { /*Collapsed nav menu glyph */
		font-size: 1.2em;
	}
}

